<p> this page works </p>
<%= @question.question %>


<form method='POST' action='/question/<%= @question_order + 1 %>/ranked'>
<% @answers_all.each do |answer| %>
  <div>
    <%= answer.answer %>
  </div>
  <div>
    <%= Player.find(answer.player_id).name %>
    <input type="text" name="<%= answer.player_id %>" />

  </div>
  </br>
<% end %>

  <input type="submit" />
</form>
