<%= erb :_sides6 %>

<div class="container-fluid">

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h4 class="brand">frivia</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4 header-border-top">
      <h1>The winner is <%= @highest_scorer.name %>, and sorry
<%= @lowest_scorer.name %>, but you've got this round.</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 col-md-offset-4">
      <form class="link-button" method="POST" action="/play_again">
        <button style="width: 100px">Play Again</button>
      </form>
    </div>

    <div class="col-md-4 col-md-offset-4 underline-thick-score">
    </div>
  </div>

   <!--- Score Headers -->

  <ol>
    <div class="row">
    
      <div class="col-md-1 col-md-offset-4 leaderboard-labels">
        <small>Rank</small>
      </div>

      <div class="col-md-2 leaderboard-labels edge">
        <small>Name</small>
      </div>

      <div class="col-md-1 right leaderboard-labels edge">
        <small>Total Pts</small>
      </div>
    </div>
  </ol>

    <!---------------------->

    <ol>
      <% @all_players.each do |player| %>
      <div class="row">
      
        <div class="col-md-1 col-md-offset-4 score-hr board">
          <li></li>
        </div>

        <div class="col-md-2 score-hr board">
          <%= player.name %>   
        </div>

        <div class="col-md-1 right score-hr board">
          <%= player.points %>
        </div>
      </div>
      <% end %>
    </ol>

</div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4 underline-thick">
      <h1>Answers</h1>
    </div>
  </div>
    
  <% @count = 0 %>

  <% @all_questions.each do |question| %>
      <div class="row">
        <div class="col-md-1 col-md-offset-3">
          <!-- <% @count += 1 %> -->
          <p class="overflow">Q <%= @count %></p>
        </div>

        <div class="col-md-4">
          <p><%= question.question %></p>
        </div>
      </div>

  <% @answers_all = Answer.where(question_id: question.id) %>

    <div>
      <% @answers_all.each do |answer| %>

        <div class="row">
          <div class="col-md-4 col-md-offset-4 answer-hr answer-contrast">
            <h4><%= answer.answer %></h4>
            <small><%= @all_players.find(answer.player_id).name %> </small>
          </div>
        </div>
    
      <% end %>

    </div>

  <% end %>

  <div class="row">
    <div class="col-md-4 col-md-offset-4 bottom">
    </div>
  </div>

</div>
